* { 
	margin: 0; 
	padding: 0; 
	
}
body { 
	font-family: verdana; 
}
#page-wrap {
	margin: 50px;
}

p {
	margin: 5px 0;
}


	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table { 
		width: 1100px; 
		border-collapse: collapse; 
	}
	caption {
		font-weight: bold;
		font-size: 25px
	}
	/* Zebra striping */
	tr:nth-of-type(even) { 
		background: #eee; 
	}
	thead { 
		background: #333; 
		color: white; 
		font-weight: bold; 
	}
	td, thead { 
		padding: 6px; 
		border: 1px solid #ccc; 
		text-align: left; 
	}
	
input[type=submit] {
    padding:1px 1px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-family: verdana;
    font-size: 17px;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

div {
	background: #ccc;
	text-align:right;
}

h1 {
	font-size: 25px;
}